body #app {
    padding-top: 0 !important;
}
body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}


.card-header {
    background-color: #0E8388;
}

.card-header h1 {

    color: #CBE4DE;

    text-align: center;

    padding: 10px;

    border-radius: 5px 5px 0 0;
}

.navbar-nav .nav-link {
    margin-right: 50px;
    font-weight: bold;
    color: #0E8388;

}

.main-nav-bar {
    background-color: #2C3333;
}


#app {
    background-color: #fff;
}

.form-card {
    background-color: #2C3333;



    border-radius: 10px;

    padding: 30px;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    width: 70%;
    
    margin-bottom: 10px;
    margin-left: 100px;
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
}

.form-card label {
    color: #CBE4DE;
}

.form-card button {
    background-color: #0E8388;
    color: #CBE4DE;
    align-items: center;
}

.form-container {
    background-image: url('images/905980.jpg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
    width: 100%;

    position: relative;
    font-family: 'Poppins', sans-serif;
    margin-left: 0;
    margin-right: auto;

}

.brand-card {


    border: 2px solid #000000;

    border-radius: 5px;

    padding: 30px;

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);

    width: 80%;



    margin-top: 30px;
    font-family: 'Poppins', sans-serif;


}

.brand-container {
    margin-right: 5%;
    margin-left: 35px;
    margin-bottom: 20px;
}

.brand-card-header {

    color: #0E8388;

    text-align: center;

    padding: 10px;

    border-radius: 5px 5px 0 0;

}

.brand-card h1 {
    font-size: 40px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 10px;
}

.brand-card .row {
    margin-top: 20px;

}

.brand-card img {
    max-width: 100%;

}

.brand-card .btn {
    width: 30%;
    background-color: #0E8388;
    color: #CBE4DE;
    font-family: 'Poppins', sans-serif;
}

.advert-container {
    background-color: #2C3333;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/* Style for the advert content */
.advert-content {
    flex: 1;
}

/* Style for the headings */
.advert-content h1 {
    
    margin-bottom: 10px;
    color: #0E8388;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

/* Style for the subheading */
.advert-content p {
    font-size: 16px;
    color: #CBE4DE;
    margin-bottom: 20px;
}

/* Style for input boxes */
.advert-content .form-label {
    font-size: 16px;
    margin-bottom: 5px;
    color: #CBE4DE;
}

.advert-content .form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-right: 380px;
    background-color: #CBE4DE;
    border-radius: 10px;
    width: 300px;
}

/* Style for the create advert button */
.advert-content .btn-primary {
    background-color: #0E8388;
    color: #CBE4DE;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

/* Style for the advert image */
.advert-image img {
    max-width: 500px;
    height: auto;
}

.footer-extra{
    background-color: #2C3333;
    color: #CBE4DE;
}


.social-icons i {
    font-size: 40px; 
    color: #CBE4DE;
    padding: 20px;
}


.footer-links a {
    text-decoration: none;
}

.used-car h1{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 100px;
    color: #0E8388;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}

.ad-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}
.ad-container img {
    margin-right: 20px;
}

.ad-container h2 {
    margin: 0 0 10px;
    color: #164863;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
}
.ad-container p {
    margin: 0 0 10px;
    font-family: 'Poppins', sans-serif;
    width: 100%;
}
.ad-link{
    text-decoration: none;
}
.ad-header{
    color: #0E8388;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

.ad-price {
    color: #0E8388;
    font-weight: bold;
    font-size: 30px;	
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
}

.ad-location{
    color: #424769;
    font-weight: bold;
    font-size: 20px;	
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;

}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.ad-button{
    margin-right: 100px;
    background-color: #0E8388;
    color: #CBE4DE;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.carousel-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#carouselExampleDark {
    align-content: center;
    width: 50%; /* Adjust this to change the width */
    height: 500px; /* Adjust this to change the height */
}
#carouselExampleDark .carousel-inner {
    height: 100%;
}
#carouselExampleDark .carousel-item img {
    width: 800px;
    object-fit: cover; /* This will ensure your images cover the whole area without stretching */
}

.ad-details-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 10px auto; /* This centers the container */
    max-width: 60%; /* This limits the width */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.15);
}

.ad-details-title {
    color: #0E8388;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 32px;
    margin-bottom: 20px;
}

.ad-details-price {
    color: #424769;
    font-family: 'Poppins', sans-serif;
    font-size: 26px;
    margin-bottom: 20px;
    font-weight: bold;
}

.ad-details-image {
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.ad-details {
    display: flex;
    font-family: 'Poppins', sans-serif;
    color: #164863;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ad-minor-details {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-bottom: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.ad-details-mileage,
.ad-details-year,
.ad-details-brand,
.ad-details-location,
.ad-details-model,
.ad-details-transmission,
.ad-fuel-type, .ad-details-phone-number, .ad-details-email {
    color: #164863;
    font-size: 18px;
    margin-bottom: 10px;
}

.ad-details-description {
    width: 100%;
    /* Add styles for description here */
}

.top-ad-title {
    color: #CBE4DE;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
    margin-bottom: 50px;
}

.top-ad-para{
    color: #ffff;
    font-weight: bold;
    font-size: 20px;	
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

.form-post-ad{
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    width: 70%;
}

.form-label{
    color: #164863;
    font-weight: bold;
    font-size: 20px;	
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 50px;
}

.form-control{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-right: 380px;
    background-color: #CBE4DE;
    border-radius: 10px;
    width: 300px;
}

.form-select{
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;
    margin-right: 380px;
    background-color: #CBE4DE;
    border-radius: 10px;
    width: 300px;
}

.submit-button .btn{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-right: 100px;
    background-color: #0E8388;
    color: #CBE4DE;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.ad-title, .ad-price, .ad-location{
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Poppins', sans-serif;
    padding-left: 50px;
}

.ad-facts{
    width: 100%;
    padding: 0px;
    font-size:20px;
    font-weight: bold;
    margin-bottom: 15px;
    margin-right: 330px;
}

.account-ad-container{
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.account-ad-title{
    color: #0E8388;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
    font-size: 20px;
}

.account-ad-price{
    color: #0E8388;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    font-size: 20px;
}

.account-ad-view-ad{
    color: #164863;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    font-size: 20px;
}

.account-header{
    color: #0E8388;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    font-size: 32px;
}

.account-details{
    color: #164863;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0px;
    font-size: 20px;
}

.account-your-ads{
    color: #0E8388;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 0px;
    font-size: 32px;
}

.account-subscription-plans{
    color: #0E8388;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 25px;
    margin-left: 0px;
    font-size: 32px;
}

.subscription-plan-card{
    background-color: #CBE4DE;
    border: 2px solid #0E8388;
    border-radius: 5px;
    padding: 30px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
}



.subscription-plan-name{
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #0E8388;
   font-weight: bold;
    font-size: 30px;
}

.subscription-plan-details{
    margin-top: 20px;
    justify-content: center;
   align-items: center;
   text-align: center;
   color:#164863;
   font-weight: bold;
}

.subscription-plan-price{
    justify-content: center;
   align-items: center;
   text-align: center;
   color: #0E8388;
   font-weight: bold;
   font-size: 20px;
}

.subscription-plan-button{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    background-color: #0E8388;
    color: #CBE4DE;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
}

.subscription-plans-container {
    display: flex;
    margin-right: 50px;/* Adjust this based on your design preference */
}

.faq-title{
    color: #0E8388;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    font-size: 32px;
}

.accordion-header{
    color: #0E8388;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 25px;
}

.accordion-item {
    padding: 10px;
    margin: 10px;
  }
  
  .accordion-button {
    background-color: #f0f0f0;
    color: #333333;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 1.0s ease;
  }
  
  .accordion-button:hover,
  .accordion-button:focus {
    background-color: #CBE4DE;
    color: #222222;
    transform: scale(1.05);
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #333333;
    color: #ffffff;
    border-radius: 10px 10px 0 0;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .accordion-button:not(.collapsed)::after {
    /* content: "\2212"; */
    position: absolute;
    right: 20px;
  }
  
  .accordion-button.collapsed::after {
    /* content: "\002B"; */
    position: absolute;
    right: 20px;
  }

  .accordion-body{
    background-color: #CBE4DE;
    color: #164863;
    border-radius: 0 0 10px 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
  }

  .contact-us-title{
    color: #0E8388;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 32px;
  }

  .contact-us-paragraph{
    color: #519872;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 0px;
    font-size: 15px;
  }

  .contact-us-button{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    background-color: #0E8388;
    color: #CBE4DE;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 50px;
  }

  .add-new-user-admin-button a{
    font-family: 'Poppins', sans-serif;
    margin: auto;
    background-color: #0E8388;
    color: #CBE4DE;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 100px;
  }

  .analytics-header{
    color: #0E8388;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 32px;
  }

  .analytics-sub-header{
    color: #164863;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 20px;
  }

  .ad-description{
    color: #164863;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    font-size: 16px;
  }

  .search-container {
    text-align: center;
    padding: 30px;
    background-color: #fff;
    /* box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); */
}

.search-form {
    position: relative;
    display: inline-block;
}

.search-form input[type="text"] {
    padding: 10px;
    font-size: 17px;
    border: none;
    width: 800px;
    outline: none;
    background-color: #CBE4DE;
    border-radius: 10px	;
    color: #164863;
    font-weight: bold;
}

.search-form button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #164863;
    color: #CBE4DE;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: bold;
    border-radius: 10px;
}

.search-form button:hover {
    background-color: #45a049;
}